.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.wrapper {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    color: var(--primary-color);
}

.loginContainer {
    background-color: #ffffffcc;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.loginForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag {
    color: black;
    align-self: flex-start;
    margin: 0;
}

.inputField {
    background-color: white;
    height: 30px;
    width: 100%;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 3%;
    padding-left: 1%;
    outline: none;
    box-sizing: border-box;
}

.inputField:focus {
    border: 2px solid black;
}

.button {
    background-color: var(--primary-color);
    color: white;
    width: 30%;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button:hover {
    font-weight: bold;
}
