.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-color: #FFFFFF;
}

.wrapper {
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 40%;
    height: auto;
    margin-bottom: 5%;
}

.loginContainer {
    background-color: #F4F4F4;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #cccccc;
    border-radius: 15px;
    padding: 6% 0%;
}

.loginForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tag {
    color: black;
    align-self: flex-start;
    margin: 0;
}

.inputField {
    background-color: white;
    color: black;
    opacity: 200%;
    height: 30px;
    width: 100%;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.inputField:focus {
    border: 2px solid black;
}

.button {
    background-color: var(--primary-color);
    color: white;
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    font-weight: bold;
    border: 1px solid black;
}



.optionsRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.forgotPassword {
    color: black;
    cursor: pointer;
    margin: 0;
}

.forgotPassword:hover{
    color: #e0412b;
    text-decoration: underline;
}
