.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    min-height: 80vh;
    background-color: #ffffff;
}

.logo {
    width: 220px;
    height: auto;
    margin-bottom: 2rem;
    user-select: none;
}

.loginContainer {
    width: 30rem;
    max-width: 100%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.optionsRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.errorContainer {
    width: 90%;
    max-width: 100%;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
