.pageContainer {
    overflow-x: hidden;
    margin: 0 auto;
}

.navbar {
    display: flex;
    padding: 2rem;
    align-items: center;
    border-bottom: #ccc 2px solid;
}

.logo {
    height: 4rem;
    width: auto;
    user-select: none;
}

.basketLink {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #f2512e;
    text-decoration: none;
    cursor: pointer;
}

.basketIcon {
    width: 3rem;
    height: auto;
}
