.bannerContainer {
    border-radius: 0.75rem;
    margin: 1rem;
    border: 1px solid transparent;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem 0.25rem;
}

.headerLeft {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.title {
    font-weight: 600;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.closeButton {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
}

.closeIcon {
    width: 1rem;
    height: 1rem;
}

.content {
    padding: 0 1rem 0.75rem;
}

.info {
    background-color: #C2E1FF;
    color: #112C47;
}

.warning {
    background-color: #FFB5AA;
    color: #532019;
}

.note {
    background-color: #ffffff;
    border-color: black;
    color: #111827;
}

.noteHeader {
    background-color: #FFE368;
}

.noteContent {
    padding: 0.75rem 1rem;
    background-color: #ffffff;
}
