.button {
    padding: 0.5rem 2.75rem;
    border-radius: 15px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.primary {
    background-color: var(--primary-color);
    border: none;
}