.button {
    padding: 0.6rem 2.75rem;
    border-radius: 15px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    border: 1px transparent none;
    transition: ease-in-out 0.15s;
    min-width: 8rem;
    user-select: none;
}

.primary {
    background-color: var(--primary-color);
}

.primary:hover {
    background-color: var(--primary-color-hover);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.primary:active {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.4);
}

.secondary {
    border: 1px black solid;
    background-color: white;
    color: black;
}

.secondary:hover {
    box-shadow: 0 3px 8px rgba(0,0,0,0.6);
}

.secondary:active {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

.tertiary {
    background-color: transparent;
    box-shadow: none;
    color: black;
    text-decoration: underline;
}

.tertiary:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(0,0,0,0.75);
}

.tertiary:active {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(0,0,0,0.85);
}