.button {
    padding: 0.6rem 2.75rem;
    border-radius: 15px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    border: 1px transparent none;
    min-width: 10rem;
}

.primary {
    background-color: var(--primary-color);
}

.primary:hover {
    background-color: var(--primary-color-hover);
}

.secondary {
    border: 1px black solid;
    background-color: white;
    color: black;
}

.secondary:hover {
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

.secondary:active {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    border: 1px rgba(0, 0, 0, 0.5) solid;
}