.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tag {
    color: black;
    align-self: flex-start;
    margin: 0 0 5px 0;
}

.inputField {
    background-color: white;
    color: black;
    height: 30px;
    width: 100%;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 4px;
    outline: none;
    box-sizing: border-box;
}

.inputField:focus {
    border: 2px solid black;
}
